* {
    /* Xóa margin, padding và border mặc định */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 ;
background: linear-gradient(135deg, #c3aed6, #f3c6f1, #f9d3e3);       text-align: center;
       padding-top: 100px;
       height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-family: 'Poppins', sans-serif;

      

}
.card{
      background: linear-gradient(180deg, rgba(255,255,255,0.25), rgba(255,255,255,0.1));
         border: 50px solid fff; /* Viền dày 2px, kiểu solid và màu đỏ */
   /* border-radius: 200px;  */
   backdrop-filter: blur(10px);
   padding: 40px 30px;
   border-radius: 20px;
   width: 400px;
   text-align: center;
   box-shadow: 0 10px 20px rgba(0,0,0,0.15);
   color: #fff;
          

}
.avatar{
    width: 100px;
  height: 100px;
  border-radius: 50%;
    object-fit: cover;

  border: 3px solid rgba(255, 255, 255, 0.948);
  margin-bottom: 15px;
}
.name{
    color:rgb(230, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size : 45px;
    font-weight: bold;
    margin-bottom: 10px;
}
.job{
    color:#ffeb3b;
    font-weight:normal;
    margin-bottom: 15px;
      font-size: 30px;
}
.desc{
      color: rgba(255,255,255,0.9);
      font-size:15px;
    margin-bottom: 25px;
      line-height: 1.6;
}
.social-icons {
  display: flex;
  gap: 20px; justify-content: center;
  align-items: center;

}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3); 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}